body {
    background-image: url('images/imgpsh_fullsize.jpg');
}

.container {
    margin-top: 20px;
    /*border: 1px solid black;*/
}

.intro {
    height: 40px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    background-color: #ddd;
    border-radius: 5px;
}
.intro-image {
	margin-top: 10px;
}
.intro-disc {
	    color: white;
    font-size: 30px;
        line-height: 40px;
}
.fa {
	    font-size: 25px;
}
.intro-social {
	color: white;
    font-size: 15px;
}
.intro-disc-se{
 	    color: black;
    font-size: 18px;
    margin-left: 14px;
    line-height: 15px;
 }